extends layout

block content
  h1= title
  form(id="projectProfile", method="POST", action="")

    label(for="projectName") Project name
    input(type="text", name="projectName", id="projectName")

    label(for="description") Description
    textarea(name="description", id="description")

    input(type="submit", value="Create project")
